body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
tr,
td,
span,
strong,
div,
input {
  font-family: monospace !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icon {
  padding: 10px;
}

.menu {

}

.menu:focus {
  background-color: rgb(52, 58, 64, 0.5) !important ;
}

.home-container {
  padding: 30px;
  width: 80%;
  margin: auto;
  position: absolute;
  left: 10%;
}

.home-initial {
  padding: 100px;
  text-align: center;
}

.home-initial:hover {
  cursor: pointer;
  color: black;
  filter: brightness(50%);
  transition: all 600ms ease;
}

.home-images {
  text-align: center;
  padding: 10px;  
}

.home-images img:hover {
  cursor: pointer;
  color: black;
  filter: brightness(50%);
  transition: all 600ms ease;
}

.home-images img {
  padding: 10px;
  max-height: 450px;
  max-width: 750px;
  background-color: #99591a;
  border: 5px solid rgb(30,30,30);
}

.home-caption {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  margin-left: 25%;
  width: 50%;
  border: 2px solid rgb(30,30,30);

}

.header-menu { 
}
.myprofile-container {
  padding: 30px;
  width: 50%;
  margin: auto;
  position: absolute;
  left: 25%;
}

.myprofile-card {
  padding: 20px;
}

.background-image {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}


.myprofile-header {
  text-align: center;
  padding: 10px; 
}

.myprofile-photo {
  border-radius: 50%;
  height: 200px;
}

.myprofile-name {
  position: relative;
  margin-top: 25px;
}

.myprofile-description {
  text-align: center;
  padding: 10px;
}

.myprofile-section {
  text-align: center;
}

.myprofile-image {
  height: 80px;
  padding: 20px;
}